[[inputs.mysql]]
  servers = ["killbill:KiLLBiLLdbA@1457@tcp(127.0.0.1:3306)/"]
  gather_process_list                       = true
  gather_user_statistics                    = false
  gather_innodb_metrics                     = true
  gather_slave_status                       = true
  table_schema_databases                    = []
